body {
    background-color: #1D0742;
    height: auto;
    background-image: url('../images/backgroundimg.jpg') !important;
    background-repeat: repeat;
    font-family: 'Philosopher', sans-serif;
}

.navbar {
    background: linear-gradient(90deg, rgba(231,208,106,1) 0%, rgba(188,148,63,1) 50%, rgba(231,208,106,1) 100%);
}

.navbar-collapse {
    text-align: center;
}

.nav-link {
    font-size: large;
    text-transform: uppercase;
    font-weight: 700;
    color: black;
}

.nav-link:hover {
    text-decoration: underline;
}

/* ------------ GAME PAGE ------------ */


#game-container {
    width: 500px;
    border: 2px solid black;
    background-color: rgba(0, 0, 0, 0.5)
}

.choice-prefix {
    padding: 0.2rem 0.5rem;
    background-color: black;
    color: #BC943F;
    border: 2px solid #BC943F;
    border-radius: 3px;
}

.choice-text {
    background-color: #BC943F;
    border-radius: 2px;
    font-size: large;
}

#card-question img {
    height: 250px;
    border: solid 3px black;
}

.correct {
    background-color: #48B448;
}

.incorrect {
    background-color: #BB5541;
}

.game-info {
    background-color: #BC943F;
    text-align: center;
    font-size: x-large;
    border-radius: 5px;
}

.game-info h3 {
    background-color: black;
    color: #BC943F;
    border-radius: 5px;
}

#end-modal-content {
    background-color: rgba(231,208,106,0.9);
    font-weight: 700;
    color: black;
    font-size: x-large;
    line-height: 4pt;
}

.end-button {
    background-color: black;
    color: rgba(231,208,106,1);
}

.end-button:hover {
    background-color: black;
    color: #BC943F;
}

/* ------------ INDEX PAGE ------------ */

.index-button {
    background-color: #BC943F;
}

.index-button:hover {
    color: #BC943F;
    background-color: black;
}

/* ------------ LEARN PAGE ------------ */

.learn-card {
    height: 400px;
    width: 232px;
    position: relative;
    transition: transform .5s;
    transform-style: preserve-3d;
    perspective: 1000px;
    transform: scale(1);
}

.learn-card img {
    height: 400px;
    width: 232px;
    border-radius: 5px;

}

.learn-card.flip {
    transform: rotateY(180deg);
}

.card-front,
.card-reverse {
    position: absolute;
    backface-visibility: hidden;
    border-radius: 5px;
}

.card-reverse {
    height: 400px;
    width: 232px;
    line-height: 400px;
    background-color: #BC943F;
    transform: rotateY(180deg);
    border: 3px solid black;
    text-align: center;
    font-size: xx-large;
    padding: 5px;
    overflow-wrap: break-word;
}

.card-reverse p {
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}

.next-button {
    background-color: #BC943F;
}

.next-button:hover {
    background-color: black;
    color: #BC943F;
}

h4 {
    color: #BC943F;
    background-color: rgba(0, 0, 0, 0.7)
}


