/* 
background-color: rgba(188, 148, 63, 0.7);
 */

body {
    background-color: #1D0742;
    height: auto;
    background-image: url('../images/backgroundimg.jpg') !important;
    background-repeat: repeat;
}

.navbar {
    background-color: #BC943F;
}

.navbar-collapse {
    text-align: center;
    background-color: #BC943F;
}

#game-container {
    width: 500px;
    border: 2px solid black;
    background-color: rgba(0, 0, 0, 0.5)
}

.choice-prefix {
    padding: 0.2rem 0.5rem;
    background-color: black;
    color: #BC943F;
    border: 2px solid #BC943F;
}

.choice-text {
    background-color: #BC943F;
}

#card-question img {
    height: 30%;
    width: 30%;
    border: solid 3px black;
    margin: 1.5rem;
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}

.game-info {
    background-color: #BC943F;
    text-align: center;
}